@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Roboto:ital,wght@0,300;0,500;1,100;1,300;1,900&display=swap');
.heading{
    background-color: rgb(180, 207, 230);
    color: rgb(0, 0, 0);
    width: 100vw;
    height: 10vh;
    display: flex;
margin-left: 0%;
/* justify-content: center; */
/* align-items: center; */

  }
  .heading-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  height: 100%; 
  }
  .heading-left{
    width: 10vw;
    /* height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Diphylleia', serif;
  }
  .heading-right{
    width: 10vw;
    /* height: 20vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Diphylleia', serif;
  }